.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    background-color: #1f2029;
    .loader{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 64px;
        height: 64px;
        margin: -32px 0  0 -32px;
        &:before, &:after {
            content: "";
            position: relative;
            display: block;
        }
        &:before {
            animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
            width: 100%;
            height: 100%;
            background-color: $primary-color-red;
        }
        &:after {
            animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
            bottom: -15px;
            height: 3px;
            border-radius: 50%;
            background-color: rgba(#fff,0.2);
        }
    }
}

.wrap{
    overflow: hidden;
    position: relative;
    min-width: 320px;
    // background: linear-gradient(90deg, rgba(50, 93, 127, 1) -27%,rgba(109,92,126,1));
    background-color: #1f2029;
}
.content{
    overflow: hidden;
    position: relative;
    word-break: break-word;
    z-index: 5;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/* gnb */
.gnb{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: right;
    ul{
        display: inline-block;
    }
    .gnb-item{
        float: left;
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        }
        &.selected a:before{
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
        a{
            display: block;
            position: relative;
            padding: 20px 10px;
            font-family: robotoMedium;
            font-size: 16px;
            line-height: 24px;
            color: $primary-color-white;
            &:before{
                content: '';
                    position: absolute;
                    bottom: 18px;
                    left: 10px;
                    right: 10px;
                    height: 1px;
                    background-color: $primary-color-white;
                    -webkit-transform-origin: 0 0;
                    transform-origin: 0 0;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
            &:hover:before{
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
    }
}

/* footer */
footer{
    padding: 50px 0;
    font-size: 12px;
    color: $primary-color-white;
    vertical-align: middle;
    text-align: center;
}

/* spot */
.spot{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    position: relative;
    height: 100vh;
    min-height: 700px;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;

    .bg-box{
        position: relative;
        z-index: -1;
        .bg-text{
            position: fixed;
            top: 0;
            left: 0;
            padding-top: 2vh;
            background: linear-gradient(90deg,rgba(90,90,90,0) 20%,rgba(90,90,90,.15));
            font-family: robotoBold;
            font-size: 14vh;
            line-height: 1;
            color: #45464e;
            -webkit-writing-mode: vertical-lr;
            -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .bg-img{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: 50%;
            background-size: cover;
            &.pattern1{
                top: 0px;
                background-image: url(../img/bg_pattern1.png);
            }
            &.pattern2{
                top: 0px;
                background-image: url(../img/bg_pattern2.png);
            }
        }
    }

    .title-box{
        padding: 0 20px;
    }
    .sub-title{
        font-family: robotoMedium;
        font-size: 35px;
        line-height: 1;
        color: $primary-color-red;
    }
    .title{
        font-family: robotoBold;
        font-size: 120px;
        line-height: 1;
        letter-spacing: 3px;
        color: $primary-color-white;
        text-transform: uppercase;
    }
    .btn-dw {
        position: absolute;
        left: 50%;
        bottom: 30px;
        width: 42px;
        margin-left: -21px;
        font-size: 16px;
        color: $primary-color-grey;
        outline: none;
        .dw-icon {
           display: block;
           width: 24px;
           height: 24px;
           margin: -10px 0 0 10px;
           border: solid $primary-color-grey;
           border-width: 0 0 1px 1px;
           -webkit-transform: rotate(-45deg);
           transform: rotate(-45deg);
           -webkit-animation: a_down 2s infinite;
           animation: a_down 2s infinite;
           opacity: 0;
           box-sizing: border-box;
           &:nth-of-type(1) {
               margin-top: 0;
               -webkit-animation-delay: 0s;
               animation-delay: 0s;
           }
           &:nth-of-type(2) {
               -webkit-animation-delay: .15s;
               animation-delay: .15s;
           }
           &:nth-of-type(3) {
               margin-bottom: 10px;
               -webkit-animation-delay: .3s;
               animation-delay: .3s;
           }
       }
    }
}

/* work */
.work{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    height: 100vh;
    min-height: 700px;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    .work-swiper{
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
    }
    .swiper-slide{
        position: relative;
        max-width: 700px;
        text-align: right;
        transition: all .1s ease;
        -webkit-transition: all .1s ease;
    }
    .work-link{
        display: block;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(31, 32, 41, 0.2);
        }
        &:hover{
            &:before{
                background-color: rgba(31, 32, 41, 0);
            }
            .work-img{
                border-width: 0;
            }
        }
    }
    .work-img{
        height: 16.5vw;
        max-height: 440px;
        min-height: 300px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border: 6px solid #fff;
        -webkit-transition: all .3s;
        transition: all .3s;
        &.no1{
            background-image: url(../img/work1.jpg);
        }
        &.no2{
            background-color: #dfdfdf;
            background-image: url(../img/work2.jpg);
        }
        &.no3{
            background-image: url(../img/work3.png);
            background-color: #b8b8ba;
        }
        &.no4{
            background-image: url(../img/work4.jpg);
        }
        &.no5{
            background-image: url(../img/work5.jpg);
        }
        &.no6{
            background-image: url(../img/work6.jpg);
        }
    }
    .work-title{
        padding: 10px 10px 0;
        font-family: robotoBold, NanumSquareBold;
        font-size: 20px;
        line-height: 30px;
        color: $primary-color-red;
    }
    .work-tag{
        padding: 0 10px;
        font-size: 16px;
        line-height: 26px;
        color: $primary-color-white;
        span+span{
            margin-left: 5px;
        }
    }
}

/* capability */
.capability{
    padding: 100px 0 150px;
    color: $primary-color-white;
    .graph-area{
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        justify-content: center;
        -webkit-justify-content: center;
    }
    .graph-item{
        width: 260px;
        padding: 30px;
        text-align: center;
        &.a_active{
            .graph-title,
            .etc-list{
                opacity: 1;
            }
        }
    }
    .graph-title{
        display: block;
        padding-bottom: 20px;
        font-size: 25px;
        line-height: 35px;
        color: $primary-color-white;
        opacity: 0;
        transition: opacity .5s ease-in-out;
        -webkit-transition: opacity .5s ease-in-out;
    }
    .graph-circle{
        width: 200px;
        height: 200px;
    }
    .etc-list{
        margin: 28px 30px 28px;
        font-size: 20px;
        line-height: 30px;
        text-align: left;
        opacity: 0;
        transition: opacity .5s ease-in-out;
        -webkit-transition: opacity .5s ease-in-out;
        li{
            margin-bottom: 7px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

/* contact */
.contact{
    padding: 100px 0;
    .contact-area{
        max-width: 450px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .row{
        position: relative;
        margin-bottom: 25px;
        &.active .input-title{
            top: -17px;
            left: 0;
            font-size: 12px;
            color: $primary-color-white;
        }
    }
    .input-title{
        position: absolute;
        top: 11px;
        left: 10px;
        transition: all .3s;
        -webkit-transition: all .3s;
        font-size: 14px;
    }
    input{
        padding: 0 10px;
        border: none;
        border-bottom: 1px solid silver;
        height: 40px;
        width: 100%;
        font-size: 16px;
        outline: none;
    }
    textarea{
        width: 100%;
        height: 270px;
        padding: 10px;
        font-size: 16px;
        resize: none;
        border: none;
        border-bottom: 1px silver solid;
        overflow-y: auto;
        outline: none;
    }
    .btn-submit{
        position: relative;
        width: 100%;
        height: 48px;
        font-family: robotoMedium;
        font-size: 16px;
        color: $primary-color-white;
        background-color: rgba(255, 100, 116, 0.66);
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        outline: none;
        &:before{
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $primary-color-red;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
        &:after{
            content: '';
            position: absolute;
            border: rgba(0, 0, 0, 0) solid 6px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
        }
        &:hover:before{
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
        &.a-submit:after{
            border-color: $primary-color-red;
            -webkit-animation-name: hvr-ripple-out;
            animation-name: hvr-ripple-out;
        }
    }
}

/* detail-modal */
.modal-project{
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: $primary-color-white;
    transition: all .8s;
    z-index: 300;
    &.active{
        position: absolute;
        top: 0;
        .project-arrow{
            display: block;
        }
    }
    .project-swiper{
        overflow: hidden;
        position: relative;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        list-style: none;
        background-color: $primary-color-white;
        z-index: 1;
    }
    .swiper-wrapper{
        align-items: flex-start;
        transition-property: transform,height;
    }
    .swiper-slide{
        height: auto;
    }
    h6{
        padding-bottom: 30px;
        font-family: robotoBold;
        font-size: 35px;
        line-height: 45px;
    }
    .inner{
        max-width: 1080px;
        margin: 0 auto;
        padding: 100px 20px;
    }
    .swiper-slide{
        &:nth-child(1) .project-top{
            background-image: url(../img/bg_project_top1.png);
        }
        &:nth-child(2) .project-top{
            background-image: url(../img/bg_project_top2.jpg);
        }
        &:nth-child(3) .project-top{
            background-image: url(../img/bg_project_top3.jpg);
        }
        &:nth-child(4) .project-top{
            background-image: url(../img/bg_project_top4.png);
        }
        &:nth-child(5) .project-top{
            background-image: url(../img/bg_project_top5.jpg);
        }
    }
    .project-top{
        position: relative;
        height: 500px;
        text-align: center;
        font-size: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.35);
            width: 100%;
            height: 100%;
        }
        &:after{
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 0;
            height: 100%;
        }
    }
    .top-title-box{
        display: inline-block;
        position: relative;
        padding: 0 20px;
        vertical-align: middle;
        h5{
            padding-bottom: 20px;
            font-family: robotoBold,NanumSquareExtraBold;
            font-size: 60px;
            line-height: 1;
            color: white;
        }
        strong{
            font-size: 30px;
            line-height: 1;
            color: white;
        }
        .box-num{
            display: block;
            text-align: left;
            font-size: 20px;
            line-height: 1;
            color: #cfcfcf;
        }
    }
    .project-summary dl{
        margin: -10px;
        &:after{
            @include float-clear;
        }
    }
    .summary-box{
        float: left;
        width: 25%;
        padding: 10px;
        dt{
            padding-bottom: 12px;
            font-family: robotoBold,NanumSquareBold;
            font-size: 18px;
            line-height: 25px;
            border-bottom: 2px solid #000;
            &:before{
                content: '';
                display: inline-block;
                width: 25px;
                height: 25px;
                margin-right: 10px;
                background-size: cover;
                vertical-align: middle;
            }
        }
        &.date dt:before{
            background-image: url(../img/img-icon-date.svg);
        }
        &.character dt:before{
            background-image: url(../img/img-icon-character.svg);
        }
        &.cross dt:before{
            background-image: url(../img/img-icon-cross.svg);
        }
        &.responsibility dt:before{
            background-image: url(../img/img-icon-work.svg);
        }
        dd{
            padding: 20px 0 0 5px;
        }
        li{
            position: relative;
            margin-bottom: 5px;
            padding-left: 10px;
            font-size: 15px;
            line-height: 25px;
            color: $primary-color-grey;
            &:last-child{
                margin-bottom: 0;
            }
            &:before{
                content: '';
                position: absolute;
                top: 10px;
                left: 0;
                width: 3px;
                height: 3px;
                background-color: $primary-color-grey;
                border-radius: 50%;
            }
            span{
                display: inline-block;
            }
        }
    }
    .project-overview{
        background-color: #f1f1f1;
        img{
            width: 100%;
        }
        .link_overview{
            display: inline-block;
            margin-bottom: 15px;
            padding: 9px 35px;
            font-size: 18px;
            line-height: 28px;
            color: $primary-color-white;
            background-color: $primary-color-black;
            border-radius: 5px;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
            &:hover{
                -webkit-transform: skew(-10deg);
                transform: skew(-10deg);
            }
            &+.link_overview{
                margin-left: 15px;
            }
            &.yet{
                cursor: auto;
                pointer-events: none;
            }
            span{
                font-size: 14px;
                vertical-align: top;
            }
        }
    }
    .project-arrow{
        display: none;
    }
    .btn-arrow{
        position: fixed;
        bottom: 30%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 10;
        display: block;
        border: solid #757575;
        border-width: 0 0 3px 3px;
        outline: none;
        &.next{
            left: 20px;
            transform: rotate(45deg);
        }
        &.prev{
            right: 20px;
            transform: rotate(-135deg);
        }
        &.swiper-button-disabled{
            opacity: .2;
            cursor: auto;
            pointer-events: none;
        }
    }
    .btn-close{
        position: absolute;
        right: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
        outline: none;
        z-index: 5;
        &:before {
            content: "";
            position: absolute;
            left: 7px;
            width: 24px;
            height: 3px;
            background-color: $primary-color-white;
            transition: transform .3s ease-out;
            transform: rotate(45deg) scaleX(1.5) translateY(-1px);
        }
        &:after {
            content: "";
            position: absolute;
            left: 7px;
            width: 24px;
            height: 3px;
            background-color: $primary-color-white;
            transition: transform .3s ease-out;
            transform: rotate(-45deg) scaleX(1.5) translateY(1px);
            transform-origin: 25% 100%;
        }
    }
}

/* notice-update-wrap */
.notice-update-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: #1f2029;
  text-align: center;
  color: $primary-color-white;
  &:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }
  .notice-update {
    display: inline-block;
    vertical-align: middle;
  }
  strong {
    display: block;
    font-size: 28px;
    margin-bottom: 20px;
  }
  p{
    font-size: 16px;
  }
  .update-link {
    display: inline-block;
    width: 320px;
    height: 40px;
    margin-top: 30px;
    background-color: $primary-color-grey;
    line-height: 40px;
  }
}

@media screen and (max-width: 768px) {
    .spot{
        min-height: 320px;
        .title{
            font-size: 12vw;
        }
        .sub-title{
            font-size: 5vw;
        }
    }

    .work{
        min-height: 320px;
        .swiper-slide{
            &:not(.swiper-slide-active){
                -webkit-transform: scale(0.9);
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                transform: scale(0.9);
            }
            &.swiper-slide-active a{
                &:before{
                    background-color: rgba(31,32,41,0);
                }
                &:hover .work-img{
                    border-width: 5px;
                }
            }
        }
        .work-img{
            border-width: 5px;
        }
        .work-pagination{
            padding-top: 25px;
            font-size: 0;
            text-align: center;
            .swiper-pagination-bullet{
                display: inline-block;
                width: 8px;
                height: 8px;
                margin: 0 5px;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                background-color: $primary-color-white;
                opacity: 0.23;
                outline: none;
            }
            .swiper-pagination-bullet-active{
                width: 22px;
                opacity: 1;
            }
        }
    }

    .capability{
        .graph-area{
            max-width: 600px;
            margin: 0 auto;
        }
        .graph-item{
            width: 160px;
            padding: 15px;
        }
        .graph-title{
            padding-bottom: 10px;
            font-size: 22px;
            line-height: 32px;
        }
        .graph-circle,
        canvas{
            width: 130px !important;
            height: 130px !important;
        }
        .etc-list{
            margin: 0;
            font-size: 18px;
            line-height: 22px;
        }
    }

    .modal-project{
        .inner{
            padding: 40px 20px;
        }
        h6{
            padding-bottom: 15px;
            font-size: 28px;
            line-height: 38px;
        }
        .project-top{
            height: 260px;
        }
        .top-title-box{
            h5{
                padding-bottom: 10px;
                font-size: 45px;
            }
            strong{
                font-size: 22px;
            }
        }
        .summary-box{
            width: 50%;
            dt{
                padding-bottom: 5px;
                &:before{
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
            }
        }
        .project-overview{
            .link_overview{
                display: block;
                margin: 0 0 10px 0 !important;
                font-size: 16px;
                text-align: center;
            }
        }
        .btn-arrow{
            position: absolute;
            bottom: 12%;
            width: 25px;
            height: 25px;
        }
    }
}

/* IE 핵 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .spot .bg-box .bg-text{
        background: none;
        opacity: 0.2;
    }
}

/* keyframes */
@-webkit-keyframes spinner {
    50% {
      border-radius: 50%;
      transform: scale(0.5) rotate(360deg);
    }
    100% {
      transform: scale(1) rotate(720deg);
    }
}
@keyframes spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}
@-webkit-keyframes shadow {
    50% {
      transform: scale(0.5);
      background-color: rgba(#000,0.1);
    }
}
@keyframes shadow {
  50% {
    transform: scale(0.5);
    background-color: rgba(#000,0.1);
  }
}
@-webkit-keyframes a_down {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes a_down {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}















.hamburger-icon {
    width: 50px;
    height: 30px;
    position: fixed;
    z-index: 4;
    left: 50%;
    top:30%;
    cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: rgb(246, 152, 48);
        transform-origin: 0 0;
        transition: transform 0.3s ease-out;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: rgb(246, 152, 48);
        transform-origin: 0 100%;
        transition: transform 0.3s ease-out;
    }

    &__middle {
        position: absolute;
        top: 13px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: rgb(246, 152, 48);
        transition: all 0.3s ease-out;
        transform-origin: 0 50%;
    }

    &.close {
        &::before {
            transform: rotate(45deg) scaleX(1.5) translateY(-1px);
            width: 30px;
            background: #a4a4a4;
        }

        .hamburger-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &:after {
            transform: rotate(-45deg) scaleX(1.5) translateY(1px);
            background: #a4a4a4;
            width: 30px;
        }
    }
}
